.PizzaItem {
  text-align: center;
  max-width: 260px;
  width: 100%;
  margin-bottom: 90px;
  margin-left: 15px;
  margin-right: 15px;

  & .btn > span {
    line-height: 22px;
  }

  &__img {
    margin-bottom: 15px;
  }

  &__name {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 30px;
    margin-top: 0;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
  }

  &__count {
    display: inline-block;
    height: 22px;
    width: 22px;
    background: #EB5A1E;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 50%;
    margin-left: 8px;
  }
}